// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-elems: 'Montserrat', sans-serif;
$font-family-design: 'Kaushan Script', cursive;
//Font-sizes
$top-titile-size: 1.6rem;
$bottom-titile-size: 2.2rem;
$default-text-size: 1rem;
$default-text-line-height: 1.6rem;
$nav-items-text-size: 0.93rem;
//Colors
$nav-active-color: #fce38a;
$title-color: #333333;
$default-text-color: #999999;
$title-border-color: #f38181;
$substrate-color: #95e1d3;


