// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-elems: 'Montserrat', sans-serif;
$font-family-design: 'Kaushan Script', cursive;
//Font-sizes
$top-titile-size: 24px;
$bottom-titile-size: 30px;
$default-text-size: 15px;
$default-text-line-height: 24px;
$nav-items-text-size: 14px;
//Colors
$nav-active-color: #fce38a;
$title-color: #333333;
$default-text-color: #999999;


