*{
  box-sizing: border-box;
}

p {
  margin: 0;
}

img{
  max-width: 100%;
}

html{
  font-size: 1.3888vh;
}

body{
  margin: 0;
  background-color: #fff;
  font-family: $font-family-base;
  color: $default-text-color;
}

.container{
  width: 1200px;
}

/* ===== Default component start ===== */
/*
Buttons, text, title, section, small-section header, footer,
form elements, icons, tabs, blockquote, container
*/

.default-section {
  padding: 5.5rem 0 8rem;

  .title {
    margin-bottom: 1.2em;
  }

  }

.small-section {
  padding: 60px 0;
}

.title{

  text-align: center;

  .top-title{
    font-family: $font-family-design;
    font-size: $top-titile-size;
    color: $title-color;
  }

  .bottom-title{
    font-family: $font-family-elems;
    font-size: $bottom-titile-size;
    font-weight: bold;
    color: $title-color;
  }

  hr.title-hr{
    margin-top: 1.2em;
    border-color: $title-border-color;
  }

}

.default-text {
  font-size: $default-text-size;
  line-height: $default-text-line-height;
  font-weight: 300;
}
/* ===== Default component end ===== */

// Default-classes start

.navbar-fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

// Default-classes end

.main{
  hr{
    margin: 0 auto;
    border-top: 3px solid #ffffff;
  }
}


//HEADER START

header{
  font-family: $font-family-elems;

  .navbar-brand{
    font-weight: 700;
    font-size: 30px;
    &:hover{
      color: #ffffff;
    }
  }

  .nav-menu{
    font-weight: 400;
    font-size: $nav-items-text-size;

    .nav-item + .nav-item{
        margin-left: 30px;
    }

    .nav-item{
      padding: 10px 0;
      &:hover{
        border-bottom: 3px solid $nav-active-color;
        a{
          color: $nav-active-color;
        }
      }

      &.active{
        border-bottom: 3px solid $nav-active-color;
        a{
          color: $nav-active-color;
        }
      }
    }

  }

  a{
    color: #fff;
  }
}

//HEADER END

//PROMOBLOCK START

.promoblock{
  background: url(../img/promo_block_img.jpg) no-repeat center / cover;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-top: 70px;

  .promoblock-content{
    height: min-content;
  }
}

.promoblock-content{
  .promoblock-title{
    color: #fff;
    padding-bottom: 50px;
    .promoblock-title-top{
      font-size: 4.8rem;
      font-family: $font-family-design;
    }
    .promoblock-title-bottom {
      font-size: 10rem;
      font-family: $font-family-elems;
      font-weight: 700;
      max-width: 800px;
      letter-spacing: 0em;
      line-height: 1;
    }
  }

  .promoblock-btn{
    color: #ffffff;
    padding: 10px 30px;
    font-family: $font-family-elems;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    background-color: transparent;
    border: 3px solid #ffffff;
  }
}

.office-wrapper{

  margin-top: 6.3rem;

  .office-item{
    position: relative;

    &.office-item-second {
      .office-item-hover {
        background: linear-gradient(0deg, rgba(252, 227, 138, .8) 0%, rgba(243, 129, 129, .8) 100%), url(../img/office-img-2.jpg);
      }
    }

    &.office-item-third {
      .office-item-hover {
        background: linear-gradient(0deg, rgba(252, 227, 138, .8) 0%, rgba(243, 129, 129, .8) 100%), url(../img/office-img-3.jpg);
      }
    }

    .office-item-hover{
      opacity: 0;
      position: absolute;
      top: -1rem;
      left: -1rem;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(252,227,138,.8) 0%, rgba(243,129,129,.8) 100%), url(../img/office-img-1.jpg);
      transition: all 0.5s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      .office-item-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font-family-elems;
        font-weight: 700;
        font-size: 1.2rem;
        color: #fff;
        text-transform: uppercase;
      }

      span{
        display: block;
      }

    }

    & .office-item-img{
      transition: background 0.7s;
      transition: opacity 2s cubic-bezier(0.1, -0.6, 0.2, 0);
    }

    &:hover .office-item-img{
      background: $substrate-color;
        img{
          opacity: 0;
        }
    }

    &:hover .office-item-hover{
      opacity: 1;
    }
  }
}
//PROMOBLOCK END

//HAPPY NUMBERS START

.happy-numbers{
  background-color: $substrate-color;

  .happy-numbers-wrapper{
    display: flex;

    .happy-number-block{
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-family: $font-family-elems;
      border-right: 1px solid #ffffff;
      padding: 4rem 0;

      .amount{
        font-weight: 700;
        font-size: 4.8rem;
      }

      .happy-number-block-title{
        font-size: $nav-items-text-size;
      }

      &:first-child{
        border-left: 1px solid #ffffff;;
      }
    }

  }
}

//HAPPY NUMBERS END


//SERVICES START

.services {

  .row+.row{
    border-top: 1px solid #e5e5e5;
  }

  .service{
    display: flex;
    padding: 4rem 0 3.33rem;

    .service-icon{
      margin: 0 2em;
      max-height: 3rem;

      img{
        max-height: 100%;
      }
    }

    .service-description{

      .service-title{
        color: $title-color;
        font-family: $font-family-elems;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      .service-text{
        font-size: 1rem;
        line-height: 1.6rem;
      }
    }

  }

}

//SERVICES END


//DESIGN START

.design-block{
  background:rgba(255, 255, 255, .85) url(../img/design-background.jpg) no-repeat center / cover;
  background-blend-mode: screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5.5rem;

  .design-devices{

    width: max-content;
    position: relative;
    margin: 0 auto;

    .mobile{
      position: absolute;
      bottom: -77px;
      right: -66px;
    }

    img{
      display: inline-block;
    }

  }
}

//DESIGN END